<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template header}--></head>
<!--{eval $_TPL['nosidebar']=1;}-->
<style type="text/css">
/* CSS Document */
html,body{text-align:center;margin:0px;padding:0px;font-size:12px;background-color:#FFF}
img{border:0px}
form{ margin:0px; padding:0px}
a{color:#848585; font-size:12px; text-decoration:none}
a:hover{color:#000}
table.bottom1_table td a,a.c_blue{ color:#0068c1}
table.bottom1_table td a:hover,a.c_blue:hover{ color:#005dbc}
a.c_black{ color:#333}
a.c_black:hover{ color:#000}



.Top{width:795px; height:5px; margin:0px auto 0px auto;background-color:#FFF}
.T_right{height:auto; width:333px; float:right; margin-top:14px; font-size:12px; margin-right:14px; text-align:right; color:#848585}
.logo_float{float:left; margin-top:0px; margin-left:10px}

.Main{width:795px; height:440px; background-color:#ffffff; margin-top:10px; margin-bottom:1px; margin-left:auto; margin-right:auto}
.Main_left{width:414px; height:433px; background-color:#ffffff; float:left}
.Main_left_logo{height:20px; width:414px; background-color:#FFFFFF}
.Main_left_logo_a{width:240px; height:15px; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-repeat:no-repeat; background-position:-415px -12px;float:left; margin-top:13px; margin-left:11px; display:inline}
.Main_left_text_1{height:35px; width:395px; margin:75px auto 0px auto; background-color:#FFFFFF; overflow:hidden}
.Main_left_text_img{width:106px; height:18px;float:left; float:right; margin-top:16px; margin-right:32px; display:inline}
.Main_left_text_1a{font-size:12px; text-align:left; color:#848585; line-height:20px}
.Main_left_bottom{height:120px; width:414px; margin:193px auto auto auto; background-color:#FFFFF}
.Main_left_bottom_img{width:53px; height:59px; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-repeat:no-repeat; background-position:-82px -98px;float:left; margin-top:0px; margin-left:10px;display:inline}
.Main_left_bottom_text{height:77px; width:95px; float:left; margin-top:5px; margin-left:11px; background-color:#FFFFFF}
.Main_left_bottom_text1{text-align:left}
.Main_left_bottom_text1 a{font-size:14px; font-weight:bold; color:#087ad4}
.Main_left_bottom_text2{text-align:left; font-size:12px; line-height:20px; color:#848585; margin-top:8px}
.Main_left_bottom_img1{width:53px; height:54px; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-repeat:no-repeat; background-position:-13px -101px;float:left; margin-top:0px; margin-left:35px;display:inline}
.Main_left_bottom_texta{height:77px; width:110px; float:left; margin-top:5px; margin-left:10px; background-color:#FFFFFF}
.Main_left_bottom_texta1{text-align:left}
.Main_left_bottom_texta1 a{font-size:14px;  font-weight:bold; color:#087ad4}
.Main_left_bottom_texta2{text-align:left; font-size:12px; line-height:20px; color:#848585; margin-top:8px}

.login{width:378px; height:390px; background-color:#ffffff; float:right; margin-top:41px; margin-right:3px; display:inline}
.login_month{
	position:absolute;
	left:230px;
	top:-33px;
	width:136px;
	height:72px;
	background-image: url(template/$_SCONFIG[template]/image/month-0905.jpg);
	background-repeat: no-repeat;
}
.login_month_img{
	position:absolute;
	right:375px;
	top:70px;
	width:438px;
	height:190px;
	background-image: url(template/$_SCONFIG[template]/image/big-month-0905.jpg);
	background-repeat: no-repeat;
}
.login_month_img1{
	position:absolute;
	left:376px;
	top:1px;
	width:100px;
	height:280px;
	background-image:url(template/$_SCONFIG[template]/image/big-month-0905.jpg);
	background-repeat:no-repeat;
	background-position:-442px 72px;
}
.login_top,.login_bottom{width:378px; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-repeat:no-repeat;font-size:0px; line-height:0px; overflow:hidden}
.login_top{background-position:-10px -55px;height:12px}
.login_bottom{background-position:-10px -79px;height:13px}
.login_middle{height:354px; background-color:#FFFFFF; background-image:url(template/$_SCONFIG[template]/image/login-middle.jpg); background-repeat:repeat-y}
.login_middle_img{width:32px; height:32px; float:left; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-repeat:no-repeat; background-position:-258px -113px; margin-top:11px; margin-left:33px;display:inline}
.login_middle_img1{width:144px; height:17px; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-repeat:no-repeat; background-position:-414px -46px; float:left; margin-top:19px; margin-left:17px; font-size:0px; line-height:0px}
.login_middle_clear{clear:both; height:0px; font-size:0px;line-height:0px; overflow:hidden}
.login_table{border:0px; border-collapse:collapse; float:left; margin-left:32px; margin-top:16px; width:320px; display:inline}
.login_table_text1{width:47px; text-align:left; font-size:12px}
.login_table_text1_1{width:182px; text-align:left}
.login_table_text1_input{
	width:172px;
	border:#0a8fda 1px solid;
	background-color:#E8F9FF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:5px 3px
}
.login_table_text1_img{ width:88px;height:21px; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-repeat:no-repeat; background-position:-410px -74px;float:left;display:inline}
.login_table_space1{height:14px; border-collapse:3px}
.login_table_space3{height:18px; border-collapse:3px}
.login_table_text2{width:47px; text-align:left; font-size:12px}
.login_table_text2_1{width:200px; height:18px; overflow:hidden;float:left; margin-left:45px; display:inline}
.login_table_text2_2{text-align:left; font-size:12px}
.login_table_select{width:180px;height:22px;border:1px solid #84a1bd; float:left}
.btn1,.btn2{width:86px; height:33px; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-repeat:no-repeat;border:0px; float:left; margin-left:47px; cursor:pointer!important;cursor:hand; display:inline}
.btn1{ background-position:-310px -11px}
.btn2{ background-position:-211px -11px}
.btn3{width:86px; height:33px; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-repeat:no-repeat;border:0px; float:left; margin-left:31px; cursor:pointer!important;cursor:hand; display:inline}
.btn3{ background-position:-12px -11px}
.btn3:hover{ background-position:-111px -11px}
.login_table_space2{width:319px; height:15px; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-repeat:no-repeat; background-position:-8px -204px;float:left; margin-top:15px; margin-left:0px;display:inline}
.login_table_text3{width:240px; height:45px; font-size:12px; color:#818181; text-align:left; line-height:24px;  margin-left:30px; float:left;display:inline}

.bottom1{height:26px; width:795px; background-color:#e5f8ff; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-repeat:no-repeat; background-position:-8px -159px; clear:both; margin-top:4px; margin-left:auto; margin-right:auto}
.bottom1_text1{height:12px; width:60px; float:left; text-align:left; font-size:12px; font-weight:bold; color:#087ad4; margin-top:7px; margin-left:12px}
.bottom1_table{margin-top:4px; margin-left:45px; font-size:12px; color:#0068c1; border:0px; float:left; display:inline}
.bottom1_img{width:3px; height:9px; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-color:#e6f7ff; background-repeat:no-repeat; background-position:-310px -122px}
.bottom1_text2,.bottom1_text3,.bottom1_text4{float:left; text-align:left; font-size:12px; color:#0068c1; margin-left:3px}
.bottom1_text2{width:173px}
.bottom1_text3{width:230px}
.bottom1_text4{width:188px}

.bottom2{width:795px; height:58px; background-color:#FFFFFF; margin-top:25px; margin-left:auto; margin-right:auto; background-image:url(template/$_SCONFIG[template]/image/main-pic.gif); background-color:#e6f7ff; background-repeat:no-repeat; background-position:-8px -223px}
.bottom2_hidden{clear:both; height:10px; font-size:0px; overflow:hidden}
.bottom2_text{font-size:12px; color:#848585; text-align:center; clear:both;line-height:22px;font-family:Verdana, Arial, Helvetica, sans-serif}
</style>
</head>

<!--Main start-->
<div class="Main" style="margin-top:0px;clear:both">
  <div class="Main_left">
    
    <div class="Main_left_text_1">
      <div class="Main_left_text_img"><a href="do.php?ac=$_SCONFIG[register_action]" title="立即注册"><img src="template/$_SCONFIG[template]/image/mashangzhuce.gif" alt="立即注册" border="0"></a></div>
	  <div class="Main_left_text_1a"></div>
    </div>
    <div class="Main_left_bottom" style="background-color:#FFF">

      <div class="Main_left_bottom_img"></div>
      <div class="Main_left_bottom_text">
        <div class="Main_left_bottom_text1"><font size=2.5 color="#0099FF" style="font-weight:600">个人空间</font></div>
        <div class="Main_left_bottom_text2">写写你的日志<br />
          晒晒你的心情<br />
          吐吐你的口水<br />
          分享你的照片</div>
      </div>

      <div class="Main_left_bottom_img1"></div>
      <div class="Main_left_bottom_texta">
        <div class="Main_left_bottom_texta1"><font size=2.5 color="#0099FF" style="font-weight:600">社交网络</font></div>
        <div class="Main_left_bottom_texta2">可以在这里搞活动聚会，玩玩扑克游戏，顺便当一个快乐的农场主，不亦乐乎！
      </div>
      </div>
    </div>
  </div>
  <!--login start-->

  
<div class="login" style="position:relative"> 
  <div class="login_month"></div>
  <div class="login_month_img1"></div>
  <div class="login_month_img"></div>
  <div class="login_top"></div>
  <div class="login_middle"> 
    <div class="login_middle_img"></div>
    <div class="login_middle_img1" style="background-position:-416px -46px"></div>
    <div class="login_middle_clear"></div>
    <form id="loginform" name="loginform" action="do.php?ac=$_SCONFIG[login_action]&$url_plus&ref" method="post">
      <table border="0" cellspacing="0" class="login_table">
        <tr> 
          <td class="login_table_text1">用户名</td>
          <td class="login_table_text1_1"><input class="login_table_text1_input" type="text" name="username"  maxlength="50" style="font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif"/></td>
          <td class="login_table_text1_img" title="舍内网"></td>
        </tr>
        <tr> 
          <td class="login_table_space1" colspan="3"></td>
        </tr>
        <tr> 
          <td class="login_table_text2">密 &nbsp;码</td>
          <td class="login_table_text1_1"><input class="login_table_text1_input" type="password" name="password" /></td>
          <td class="login_table_text2_2"></td>
        </tr>

		<tr>
			<th width="100">登录模式</th>
			<td><label for="login_m0"><input type="radio" name="login_m" id="login_m0" value="0"<!--{if empty($_GET[m])}--> checked<!--{/if}--> onclick="document.getElementById('no2').style.display='none';"/>网站密码</label> <label for="login_m1"><input type="radio" name="login_m" id="login_m1" value="1"<!--{if !empty($_GET[m])}--> checked<!--{/if}--> onclick="document.getElementById('no2').style.display='block';"/>短信密码</label></td>
		</tr>
		<tr id="no2" style="display:<!--{if empty($_GET[m])}-->none<!--{else}-->block<!--{/if}-->;">
			<th width="100"></th>
			<td><a href="javascript:document.loginform.action='do.php?ac=$_SCONFIG[login_action]&m=1&a=send';document.loginform.submit();">发送短信密码到我的手机</a> <span class="gray">(如发送1分钟后没收到，请重新发送)</span></td>
		</tr>

        <tr> 
          <td class="login_table_space1" colspan="3"></td>
        </tr>
        <tr> 
          <td colspan="3"><div class="login_table_text2_1" style="width:210px;"> 
              <input type="checkbox" id="cookietime" name="cookietime" value="315360000" $cookiecheck style="float:left;">
              <span style=" float:left;margin-top:3px;*margin-top:3px"> 
              <label for="cookietime">下次自动登录</label>
			  　　　<a href="do.php?ac=lostpasswd" target="_blank" title="找回密码" class="c_black">忘记密码了?</a>
              </span> 
			  </div></td>
        </tr>
        <tr> 
          <td class="login_table_space3" colspan="3"></td>
        </tr>
        <tr> 
          <td colspan="3"> <input type="hidden" name="refer" value="space.php?do=home" /> 
            <input name="loginsubmit" id="loginsubmit" title="登陆" value=" " type="submit" class="btn1" onMouseOver="this.className='btn2'" onMouseOut="this.className='btn1'" /> 
            <a href="do.php?ac=$_SCONFIG[register_action]" class="btn3" title="立即注册"></a> 
          </td>
        </tr>
        <tr></tr>
        <tr> 
          <td colspan="3"><div class="login_table_space2"></div></td>
        </tr>
        <tr> 
          <td colspan="3" style="padding:0px"><div class="login_table_text3"> 
              <font size=2.5 color="#0099FF" style="font-weight:600">网站动态播报：</font> 
              <br>
              <div style="overflow:hidden;height:60px;line-height:20px;font-size:11px" id="marqueebox0"> 
                <ul>
				  <!--{template data/blocktpl/2}-->

                  <!--{loop $feedlist $value}-->
                  <li>$value[title_template]</li>
                  <!--{/loop}-->
                </ul>
              </div>
              <script> 
<!-- 
function startmarquee(lh,speed,delay,index){ 
var t; 
var p=false; 
var o=document.getElementById("marqueebox"+index); 
o.innerHTML+=o.innerHTML; 
o.onmouseover=function(){p=true} 
o.onmouseout=function(){p=false} 
o.scrollTop = 0; 
function start(){ 
t=setInterval(scrolling,speed); 
if(!p) o.scrollTop += 2; 
} 
function scrolling(){ 
if(o.scrollTop%lh!=0){ 
o.scrollTop += 2; 
if(o.scrollTop>=o.scrollHeight/2) o.scrollTop = 0; 
}else{ 
clearInterval(t); 
setTimeout(start,delay); 
} 
} 
setTimeout(start,delay); 
} 
startmarquee(20,50,3000,0); 
/**startmarquee(一次滚动高度,速度,停留时间,图层标记);**/ 
//--> 
</script>
            </div></td>
        </tr>
      </table>
      <input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
    </form>
  </div>
  <div class="login_bottom"></div>
</div>
  <!--login end-->    
<!--Main end-->

<!--{template footer}-->