<!--{eval $_TPL['titles'] = array(getstr($pic['title'], 60, 0, 0, 0, 0, -1), $album['albumname'], '相册');}-->
<!--{eval $friendsname = array(1 => '仅好友可见',2 => '指定好友可见',3 => '仅自己可见',4 => '凭密码可见');}-->
<!--{template header_x}-->
<DIV class="manage_m_r">
<DIV class="brbtop_gray">
<DIV>
<P></P></DIV></DIV>
<DIV class="brbcontent_gray">
<!--{if $space[self]}-->
<div class="searchbar floatright" style="margin-top:5px">
	<form method="get" action="space.php">
		<input name="searchkey" value="" size="15" class="t_input" type="text">
		<input name="searchsubmit" value="搜相册" class="submit" type="submit">
		<input type="hidden" name="do" value="album" />
		<input type="hidden" name="view" value="all" />
		<input type="hidden" name="orderby" value="dateline" />
	</form>
</div>
<div class="titles">
<div class="titimg"><img src="template/voone/image/photo.gif"></div>
<div class="titright">
<p class="tit">相册</p>
<p class="nrtit">用图片记录精彩的瞬间</p>
</div>
</div>

<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="space.php?uid=$pic[uid]&do=album&id=$pic[albumid]"><span>查看图片</span></a></li>
		<li><a href="space.php?uid=$space[uid]&do=album&id=$pic[albumid]"><span>返回列表</span></a></li>
		<li><a href="space.php?uid=$space[uid]&do=album&view=me"><span>返回我的相册</span></a></li>
		<li class="null"><a href="cp.php?ac=upload&albumid=$pic[albumid]">上传新图片</a></li>
	</ul>
	<!--{if $_SGLOBAL[refer]}-->
	<div class="r_option">
		<a  href="$_SGLOBAL[refer]">&laquo; 返回上一页</a>
	</div>
	<!--{/if}-->
</div>
<DIV class="managebox mbs" style="width:775px;">
<!--{else}-->
<!--{eval 
	$_TPL['spacetitle'] = "相册 - $album[albumname]";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=album&view=me\">TA的所有相册</a>";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=album&id=$pic[albumid]\">$album[albumname]</a>";
	$_TPL['spacemenus'][] = "<a href=\"space.php?uid=$space[uid]&do=album&picid=$pic[picid]\">查看图片</a>";
}-->
<!--{template space_menu}-->
<DIV class="managebox mbs" style="width:775px;">
<!--{/if}-->

<!--{template space_pic}-->

</div>

<DIV class="clear"></DIV></DIV>
<DIV class="brbbot_gray">
<DIV>
<P></P></DIV></DIV></DIV>
	
<!--{template footer_x}-->