<!--{eval $_TPL['titles'] = array($mtag['tagname'], $mtag['title'], '成员');}-->
<!--{eval $_TPL['nosidebar']=1;}-->
<!--{template q_header}-->
<link href="template/voone/quan.css" rel="stylesheet" type="text/css" />
<DIV class="bodybox">
<!--
<!--{template m_header}-->

<div class="tabs_header" style="border-bottom:1px dashed #333; height:25px">
<div class="r_option">
<a href="cp.php?ac=share&type=mtag&id=$mtag[tagid]" id="a_share" class="a_share" onclick="ajaxmenu(event, this.id, 1)">分享</a>
<a href="admincp.php?ac=mtag&tagid=$mtag[tagid]" target="_blank">管理</a>
	<a href="cp.php?ac=common&op=report&idtype=tagid&id=$mtag[tagid]" id="a_report" onclick="ajaxmenu(event, this.id, 1)">举报</a>
	</div>	
	
	<ul class="groupmenu">
  <li><a href="space.php?do=mtag&tagid=$mtag[tagid]"><span>首页</span></a> </li>
 
<li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=list"><span>讨论区</span></a></li>
<li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=digest"><span>精华区</span></a></li>
		<!--{if $eventnum}-->
<li><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=event"><span>群组活动</span></a></li>
		<!--{/if}-->
<li class="active"><a href="space.php?do=mtag&tagid=$mtag[tagid]&view=member"><span>成员列表</span></a></li>  
</LI>
</UL>
</div>
-->

<script>
function searchFriend() {
	$('searchform').submit();
}
</script>

<DIV class="brbtop">
<DIV>
<P></P></DIV></DIV>
<DIV class="brbcontent">
<DIV class="groupmenberbox">
<DIV class="group_tit"><IMG height=17 src="template/voone/image/title_groupmenberlist18.gif" width=303>


<!--{if $mtag[grade]>=8}-->
<DIV class="buttomwhite" style="MARGIN-TOP: -30px; FLOAT: right">
<a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=members">成员批量管理</a></DIV><!--{/if}-->

<!--{if $mtag['allowinvite']}-->
<DIV class="buttomwhite" style="MARGIN-TOP: -30px; FLOAT: right;margin-right:5px"><a href="cp.php?ac=mtag&op=manage&tagid=$mtag[tagid]&subop=invite">邀请好友</a></DIV>
			<!--{/if}-->
	<!--{if $mtag[grade]==-9}-->
<DIV class="buttomwhite" style="MARGIN-TOP: -30px; FLOAT: right; margin-right:5px"><A 
href="cp.php?ac=mtag&op=join&tagid=$mtag[tagid]" id="_tag_join_$mtag[tagid]" onClick="ajaxmenu(event, this.id, 99999)">加入该圈子</A></DIV>
		<!--{/if}-->
</div>


<DIV class="groupmenberhead">
<DIV class="groupbbstit"><IMG src="template/voone/image/title_groupmenber.gif"></DIV></DIV>
<!--{if $list}-->
<DIV class="groupnewmenber">
<UL>
  <!--{loop $list $key $value}-->
  <LI><a href="space.php?uid=$value[uid]"><!--{avatar($value[uid],small)}-->
  <P><B>{$_SN[$value[uid]]}</B></P></A></LI> 	<!--{/loop}-->
</UL>
<!--{else}-->
	<div class="c_form">没有找到可浏览的成员信息。</div>
	<!--{/if}-->
	
<div class="divline"></div>

<div class="page">$multi</div>
  

</DIV></DIV></DIV>

<DIV class="brbbot">
<DIV>
<P></P></DIV></DIV>
<DIV class="clear"></DIV>
</DIV>




<!--{template footer}-->
