<DIV class="footer">
<UL class="">
  <LI>友情连接:</LI>   
<LI><A href="http://www.shenei.net" target="_blank"><font color=black>舍内网</font></A></LI>| 
<LI><A href="http://shop.shenei.net" target="_blank"><font color=black>舍内网店</font></A></LI>| 
<LI><A href="http://me.shenei.net" target="_blank"><font color=black>舍内博客</font></A></LI>| 
<LI><A href="http://sky.shenei.net" target="_blank"><font color=black>大学城的星空</font></A></LI>| 
<LI><A href="http://www.fjut.edu.cn" target="_blank">工院官方</A></LI>
</UL><BR>
<UL class="">
<LI>
$_SCONFIG[sitename] - 
<a href="mailto:$_SCONFIG[adminemail]">联系我们</a>
<!--{if $_SCONFIG['miibeian']}--> - <a  href="http://www.miibeian.gov.cn" target="_blank">$_SCONFIG[miibeian]</a><!--{/if}-->
<SMALL>
	Powered <a  href="http://www.shenei.net" target="_blank"><strong>【疯·神】工作室</strong></a> <span title="2.03">2.03</span>
	<!--{if !empty($_SCONFIG['licensed'])}--><a  href="http://license.comsenz.com/?pid=7&host=$_SERVER[HTTP_HOST]" target="_blank">Licensed</a><!--{/if}-->
	&copy; 2009-2010 SheNei Inc.Art E
</SMALL>
		<!--{template x_tongji}-->
</LI></UL>

</DIV>
<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://www.jiathis.com/code/jiathis_r.js?move=0&btn=r2.gif" charset=utf-8></script>
<!-- JiaThis Button END -->