<div class="y_head">
<div class="content">
<div class="logo"><a href="index.php"></a></div>
<ul class="btn_bsub">
  <li><a href="space.php?do=blog">日志</a></li>
  <li>| </li>
  <li><a href="space.php?do=poll">投票</a></li>
  <li>| </li>
  <li><a href="space.php?do=doing">记录</a></li>
  <li>| </li>
  <li><a href="space.php?do=thread">群话</a></li>
  <li>| </li>
  <li><a href="space.php?do=share">分享</a></li></ul>
<ul class="btn_hsub">
  <a class="btn_hsub1" href="index.php"></a>
  <a class="btn_hsub2" href="bbs"></a>
  <a class="btn_hsub3" href="sky"></a>
  <a class="btn_hsub4" href="network.php"></a>
  <a class="btn_hsub5" href="space.php?do=mtag&view=hot"></a>
  <a class="btn_hsub6" href="space.php?do=album&view=all&orderby=dateline"></a>
  <a class="btn_hsub7" href="space.php?do=top"></a>
  <a class="btn_hsub8" href="space.php?do=event"></a>
  <a class="btn_hsub9" href="userapp.php?id=1012215&my_suffix=Lw%3D%3D"></a>
  <a class="btn_hsub10" href="cp.php?ac=userapp&my_suffix=%2Fapp%2Flist"></a>
 </ul>
  </div>
  </div>
