/*
[name]ÈÃÐÄÄþ¾²[/name]
Powered by Ucenter Home
www.250y.com Ô­´´
*/

body {
	CURSOR:url('http://pic.51.com/shop/product/sbys/ani/1000400083.ani');
	background-color: #000000;
	color: #FFFFFF;
}
a { color: #FFFFFF; }
.line_list li { border-color: #330000; }
.time { color: ##660066; }
.avatar48 { padding: 1px; width: 48px; height: 48px; border: 1px solid #333; background: none; overflow: hidden; }
#wrap { width: 990px; }
#header { margin: 0; width: 100%; color: #FFFFFF; }
#header a { color: #FFFFFF; }
.headerwarp { width: 950px; height: 246px; background: url(images/header.jpg) repeat-x 0 40px; }
#header .logo a { width: 82px; height: 40px; background: url(images/logo.gif) no-repeat left center; overflow: hidden; display: block; }
#header .logo a img { margin: -200px; }
.login_thumb { background-image: url(images/login_bg.gif); }
#space_page {
 padding: 10px;
 width: 970px;}
#ubar h2,
#space_page .feed_header,
.sidebox h2.title { padding: 0 20px; background-image: url(images/3.gif); color: #FFF; }
.tabs_header { position: absolute; margin: -50px 0 0 60px; width: 560px; border: none; }
#space_page .feed li,
 #space_page .comments_list li,
 #footer {
 border-top-color: #330000;
 border-right-color: #330000;
 border-bottom-color: #330000;
 border-left-color: #330000;
}
a#i_rss { color:  #FFFFFF; }
.tabs_header ul.tabs li.active a,
.tabs_header ul.tabs li.active a span,
.tabs_header ul.tabs li a,
.tabs_header ul.tabs li a span { background: none; }
.ulist {
 background-color:  #FFFFFF;
}
.tabs_header ul.tabs li a {
 border-top-width: 1px;
 border-right-width: 1px;
 border-bottom-width: 1px;
 border-left-width: 1px;
 border-top-style: solid;
 border-right-style: solid;
 border-bottom-style: none;
 border-left-style: solid;
 border-top-color:  #000000;
 border-right-color: #000000;
 border-bottom-color: #000000;
 border-left-color: #000000;
 background-image: url(images/2.gif);
}
.tabs_header { height: 31px; }
#footer { padding: 20px 20px; border: none; color: #FFFFFF; }
#footer a { color: ; }#header {
margin: 0; width: 100%; color: #FFFFFF;