.block  {background-image:url(../../../../../attachment/201005/19/13_12742804651q51.jpg); } 
.block  .blocktitle {background-image:url(); } 
body {background-image:url(../../../../../attachment/201005/19/13_1274280875xp4y.jpg); background-repeat:repeat; background-attachment:fixed; background-color:#F4F4F4; } 
#banner {height:206px; background-image:url(../../../../picfile/39822f959cf974089c4215452fe77ac3_b.jpg); background-color:#F4F4F4; background-position:right center; } 
#title {top:6px; } 
#footer {height:150px; background-image:url(); } 
#albumone .blocktitle {background-color:transparent; background-position:left top; } 
#albumone .blockcontent {background-image:url(); } 
 body {cursor:url(../../../../picfile/e4217083f21cb621f1439d15d5ef7bdc_b.ani), url(../../../../picfile/e4217083f21cb621f1439d15d5ef7bdc_b.ani), auto; }