body {background-image:url(../../../../image/t/141/1206674083_90395700.jpg); background-repeat:repeat; background-attachment:fixed; background-color:#0f599a; } 
#banner {height:300px; background-image:url(../../../../image/t/141/1206674011_65880500.gif); background-repeat:repeat-x; background-color:transparent; background-position:left top; } 
#banner .title h1 {color:#6699ff; } 
#banner .title p {color:#6699ff; } 
#banner .title p a {color:#6699ff; } 
#title {top:12px; } 
#footer {height:115px; background-image:none; background-repeat:norepeat; background-color:transparent; background-position:center center; } 
#footer .copyright p {color:#6699ff; } 
#footer .copyright p a {color:#6699ff; } 
#menu {background-position:center center; background-repeat:repeat-x; background-image:url(../../../../image/t/141/1206674657_84396400.gif); background-color:transparent; border-style:none; border-width:0px; border-color:#FFF; height:30px; } 
#menu .active {background-image:url(); } 
#menu ul {padding-left:4px; margin-top:2px; } 
#menu a {font-size:14px; font-weight:bold; color:#6699ff; } 
#menu . em {font-size:14px; } 
#menu . a:hover {color:#ffff00; } 
#menu .active a {color:#6699ff; } 
#profile .blocktitle {background-image:none; border-bottom-style:; } 
#profile .blockcontent {background-image:url(../../../../image/t/141/1206675663_10519100.gif); background-color:transparent; background-repeat:repeat; color:#66ccff; } 
#profile .blocktitle h2 {color:#66ccff; } 
#profile .blocktitle em a {color:#66ccff; } 
#profile .blockcontent a {color:#66ccff; } 
#profile .blockcontent a:hover {color:#66ccff; } 
#profile {border-style:; border-width:; border-color:; } 
#player .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#player .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#66ccff; } 
#player .blocktitle h2 {color:#66ccff; } 
#player .blocktitle em a {color:#66ccff; } 
#player .blockcontent a {color:#66ccff; } 
#player .blockcontent a:hover {color:#66ccff; } 
#player {border-style:; border-width:; border-color:; } 
#feed .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#feed .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#000000; } 
#feed .blocktitle h2 {color:#66ccff; } 
#feed .blocktitle em a {color:#66ccff; } 
#feed .blockcontent a {color:#000000; } 
#feed .blockcontent a:hover {color:#000000; } 
#feed {border-style:; border-width:; border-color:; } 
#blog .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#blog .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#000000; } 
#blog .blocktitle h2 {color:#66ccff; } 
#blog .blocktitle em a {color:#66ccff; } 
#blog .blockcontent a {color:#000000; } 
#blog .blockcontent a:hover {color:#000000; } 
#blog {border-style:; border-width:; border-color:; } 
#share .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#share .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#66ccff; } 
#share .blocktitle h2 {color:#66ccff; } 
#share .blocktitle em a {color:#66ccff; } 
#share .blockcontent a {color:#66ccff; } 
#share .blockcontent a:hover {color:#66ccff; } 
#share {border-style:; border-width:; border-color:; } 
#mtag .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#mtag .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#66ccff; } 
#mtag .blocktitle h2 {color:#66ccff; } 
#mtag .blocktitle em a {color:#66ccff; } 
#mtag .blockcontent a {color:#66ccff; } 
#mtag .blockcontent a:hover {color:#66ccff; } 
#mtag {border-style:; border-width:; border-color:; } 
#doing .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#doing .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#66ccff; } 
#doing .blocktitle h2 {color:#66ccff; } 
#doing .blocktitle em a {color:#66ccff; } 
#doing .blockcontent a {color:#66ccff; } 
#doing .blockcontent a:hover {color:#66ccff; } 
#doing {border-style:; border-width:; border-color:; } 
#footprint .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#footprint .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#66ccff; } 
#footprint .blocktitle h2 {color:#66ccff; } 
#footprint .blocktitle em a {color:#66ccff; } 
#footprint .blockcontent a {color:#66ccff; } 
#footprint .blockcontent a:hover {color:#66ccff; } 
#footprint {border-style:; border-width:; border-color:; } 
#friendlist .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#friendlist .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#66ccff; } 
#friendlist .blocktitle h2 {color:#66ccff; } 
#friendlist .blocktitle em a {color:#66ccff; } 
#friendlist .blockcontent a {color:#66ccff; } 
#friendlist .blockcontent a:hover {color:#66ccff; } 
#friendlist {border-style:; border-width:; border-color:; } 
#applist .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#applist .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#66ccff; } 
#applist .blocktitle h2 {color:#66ccff; } 
#applist .blocktitle em a {color:#66ccff; } 
#applist .blockcontent a {color:#66ccff; } 
#applist .blockcontent a:hover {color:#66ccff; } 
#applist {border-style:; border-width:; border-color:; } 
#wall .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#wall .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#000000; } 
#wall .blocktitle h2 {color:#66ccff; } 
#wall .blocktitle em a {color:#66ccff; } 
#wall .blockcontent a {color:#000000; } 
#wall .blockcontent a:hover {color:#000000; } 
#wall {border-style:; border-width:; border-color:; } 
#forumstatus .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#forumstatus .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#000000; } 
#forumstatus .blocktitle h2 {color:#66ccff; } 
#forumstatus .blocktitle em a {color:#66ccff; } 
#forumstatus .blockcontent a {color:#000000; } 
#forumstatus .blockcontent a:hover {color:#000000; } 
#forumstatus {border-style:; border-width:; border-color:; } 
#thread .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#thread .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#000000; } 
#thread .blocktitle h2 {color:#66ccff; } 
#thread .blocktitle em a {color:#66ccff; } 
#thread .blockcontent a {color:#000000; } 
#thread .blockcontent a:hover {color:#000000; } 
#thread {border-style:; border-width:; border-color:; } 
#albumall .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#albumall .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#000000; } 
#albumall .blocktitle h2 {color:#66ccff; } 
#albumall .blocktitle em a {color:#66ccff; } 
#albumall .blockcontent a {color:#000000; } 
#albumall .blockcontent a:hover {color:#000000; } 
#albumall {border-style:; border-width:; border-color:; } 
#album .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#album .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#000000; } 
#album .blocktitle h2 {color:#66ccff; } 
#album .blocktitle em a {color:#66ccff; } 
#album .blockcontent a {color:#000000; } 
#album .blockcontent a:hover {color:#000000; } 
#album {border-style:; border-width:; border-color:; } 
#profect .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#profect .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#000000; } 
#profect .blocktitle h2 {color:#66ccff; } 
#profect .blocktitle em a {color:#66ccff; } 
#profect .blockcontent a {color:#000000; } 
#profect .blockcontent a:hover {color:#000000; } 
#profect {border-style:; border-width:; border-color:; } 
#about .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#about .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#000000; } 
#about .blocktitle h2 {color:#66ccff; } 
#about .blocktitle em a {color:#66ccff; } 
#about .blockcontent a {color:#000000; } 
#about .blockcontent a:hover {color:#000000; } 
#about {border-style:; border-width:; border-color:; } 
#albumone .blocktitle {background-image:url(../../../../image/t/141/1206675569_81245300.gif); border-bottom-style:; } 
#albumone .blockcontent {background-image:url(../../../../image/t/141/1206675586_60387200.gif); background-color:transparent; background-repeat:repeat; color:#000000; } 
#albumone .blocktitle h2 {color:#66ccff; } 
#albumone .blocktitle em a {color:#66ccff; } 
#albumone .blockcontent a {color:#000000; } 
#albumone .blockcontent a:hover {color:#000000; } 
#albumone {border-style:; border-width:; border-color:; } 
 body {cursor: }