#banner {height:229px; background-image:url(../../../../../attachment/201002/25/27_1267085540uu27.jpg); background-position:center top; background-color:transparent; } 
#title {top:50px; } 
 body {cursor: }