/*************************************************NETWORK PAGE***/
.vic_headmsg{ height: 30px; width: 808px; margin:0 0 5px 30px;	overflow: hidden; }
.vic_headmsg li{ padding:5px 0 0 0; height: 25px; width: auto; }
#network{  overflow: hidden; }
.vic_headbox { position: relative; width: 858px; height:190px; overflow: hidden; margin: 0px; }
.nbox{ position: relative; width: 858px; overflow: hidden; margin: 0px; }
.nbox .gray, .nbox .gray a { color: #aaa; }
#showuser {padding:0 5px 0 5px;}
#headmast { width: 266px; float: left; height: 170px; border: 1px solid #F0F0F0; margin:0 2px; padding: 5px; background-color: #FFFFFF; }
#headmast .headusermsg{ background-color: #F5F5F5; overflow: hidden; margin: 5px 0 0 5px; padding:5px 5px 5px 5px; border: 1px solid #DDDDDD; width:102px; float:left; }
#headmast .headusermsg:hover{background-color: #FF6600;}
#headmast .headusermsg img{ height: 100px; width: 100px; border: 1px solid #DDDDDD; }
#headmast .headuserinfo{ background-color: #fff; overflow: hidden; border: 1px solid #DDDDDD; height:118px; margin:5px; float:right; width:132px; background-image: url(image/fm_bg.gif); background-repeat: no-repeat; background-position: left top; }
#headmast .headuserinfo:hover{background-color: #EFEFEF;}
#headmast .headuserinfo p{ width:170px; height: 23px; overflow: hidden; padding-left: 10px; border-bottom: 1px dashed #CCCCCC; line-height: 23px; }
#headmast .headuserbut{ height:35px; padding:5px }
#headmast .headuserbut ul{ height: 22px; width: 67px; float:left; margin: 0 4px; background-image: url(image/userhead.gif); padding-top: 3px; padding-left: 9px; }
#headmast .headuserbut a{ font-family: "黑体"; font-size: 13px; color: #333333; }
#headmast .headuserbut a:link {color:#333333; text-decoration:none;}
#headmast .headuserbut a:visited {color:#333333;text-decoration:none;}
#headmast .headuserbut a:hover {color:#FF6600;text-decoration:none;}
#vs4_rand{ float:left; width:409px; height:122px; border: 1px solid #D7D7D7; padding:5px; margin:5px 3px; background-image: url(image/sohorand_bg.jpg); background-repeat: no-repeat; background-position: right; }
#vs4_rand .rand{ float:left; }
#vs4_rand span{ font-size: 14px; font-weight: bold; color: #333333; }
#vs4_rand .randone{ float:left; margin:5px; width:110px; height:110px; border: 1px solid #D7D7D7; position: relative; }
#vs4_rand .randone:hover img{ width:100px; height:100px; margin:5px;}
#vs4_rand .randother{ float:left;border: 1px solid #FFF;width:48px; height:48px;position: relative;}
#vs4_rand .randother:hover img{ width:43px; height:43px; margin:3px;}
#vs4_rand .vs4_randbottom{	height: 16px; width: 123px; padding-top:4px; padding-left:150px; float:right;}