<!--{eval $_TPL['titles'] = array('求医通-我的在线医生');}-->
<!--{template header}-->
<table width="788" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td height="500" colspan="3" align="center"><script>
	var domain=document.domain;
	document.write('<iframe marginwidth=0 marginheight=0 src="http://to.qe.cn/LR/Chatpre.aspx?id=QEW28150687&e=uc'+domain+'" frameborder=0 noresize  scrolling=no width=780 height=490></iframe>')</script></td>
  </tr>
  <tr background="/image/qecn_r2_c3.gif">
    <td width="200" background="/image/qecn_r2_c3.gif"><a href="/askqecn.php" target="_self"><img name="qecn_r2_c2" src="/image/qecn_r2_c2.gif" width="200" height="33" border="0" id="qecn_r2_c2" alt="" /></a></td>
    <td width="581" background="/image/qecn_r2_c3.gif"><div align="center"><span class="STYLE1">本服务由求医网合作医院提供，如果医生不在线或长时间未回复，请<a href="/askqecn.php" target="_self"> 点击此处</a> 返回求医通</span></div></td>
    <td width="19" align="right"><img name="qecn_r2_c5" src="/image/qecn_r2_c5.gif" width="19" height="33" border="0" id="qecn_r2_c5" alt="" /></td>
  </tr>
</table>
<!--{template footer}-->