<!--{template vheader}-->



<form id="walltitleform" name="walltitleform" method="post" action="cp.php?ac=walltitle&op=send" class="ajaxshowdiv">
<!--{if !$_SGLOBAL[inajax]}-->
<h2 class="title"><img src="image/icon/pm.gif">个性化设置</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li><a href="viewspace.php?op=diy"><span>取消编辑</span></a></li>
	</ul>
</div>
<div class="c_form">
<!--{else}-->
<h1>个性化设置</h1>
<a href="javascript:hideMenu();" title="关闭" class="float_del">关闭</a>
<div class="popupmenu_inner">
<!--{/if}-->

	<table cellspacing="0" cellpadding="3">
	<tr>
		<th><label for="username">留言改名：</label></th>
		<td>
			<script type="text/javascript" src="source/script_autocomplete.js"></script>
			<input type="text" id="username" name="username" value="$space[walltitle]" style="width: 200px;" class="t_input" tabindex="1"  />
		</td>
	</tr>
	
	<tr>
		<th>&nbsp;</th>
		<td>
		<input type="hidden" name="refer" value="$_SGLOBAL[refer]" />
		<input type="hidden" name="walltitlesubmit" value="true" />
		<!--{if $_SGLOBAL[inajax]}-->
		<input type="button" name="walltitlesubmit_btn" id="walltitlesubmit_btn" value="编辑" class="submit" onclick="ajaxpost('walltitleform')" />
		<!--{else}-->
		<input type="submit" name="walltitlesubmit_btn" id="walltitlesubmit_btn" value="编辑" class="submit" />
		<!--{/if}-->
		</td>
	</tr>
</table>
</div>
<input type="hidden" name="formhash" value="<!--{eval echo formhash();}-->" />
</form>

<!--{template footer}-->