<!--{template header}-->

<FORM name=fetionapi  action="https://fetionAPI.appspot.com/api/" method=get>
<table height="360" cellSpacing="0" cellPadding="0" width="800" align="center" background="image/fetion/bg.jpg" border="0">
	<tr>
		<td colSpan="3" height="240" style="font-size: 12px; color: #FFFFFF">&nbsp;</td>
	</tr>
	<tr>
		<td width="383" height="251" style="font-size: 12px; color: #FFFFFF">&nbsp;</td>
		<td vAlign="top" align="middle" width="218" style="font-size: 12px; color: #FFFFFF">
		<form name="fetion">
			<table borderColor="#cccccc" height="210" cellSpacing="0" cellPadding="0" width="92%" background="image/fetion/yxbg.gif" border="0">
				<tr>
					<td vAlign="top" style="font-size: 12px; color: #FFFFFF">
					<table height="210" cellSpacing="0" cellPadding="0" width="100%" border="0">
						<tr>
							<td align="middle" colSpan="2" height="28" style="font-size: 12px; color: #FFFFFF">
							免费短信（需互为<a target="_blank" style="color: #FFFFCC; text-decoration: none" href="http://www.fetion.com.cn/downloads/pc.aspx">飞信</a>好友）</td>
						</tr>

<tr><td vAlign="center" align="right" width="34%" style="font-size: 12px; color: #FFFFFF">飞信手机:</td><td align="left" width="66%" style="font-size: 12px; color: #FFFFFF"><INPUT class="inputcss" id=from onmouseover="javascript: if(this.value=='您的移动飞信手机号'){this.value='';this.select();}" style="width: 122px; height: 15px" maxLength="11" value="您的移动飞信手机号" name=from></td></tr>

<td vAlign="center" align="right" style="font-size: 12px; color: #FFFFFF">登陆密码:</td><td align="left" style="font-size: 12px; color: #FFFFFF">
<INPUT class="inputcss" id=pw style="width: 122px; height: 15px" type="password" maxLength="30" name=pw autocomplete="off"></td></tr>

<tr><td vAlign="center" align="right" style="font-size: 12px; color: #FFFFFF">接收手机:</td>
<td align="left" style="font-size: 12px; color: #FFFFFF"><INPUT class="inputcss" id=to onmouseover="javascript: if(this.value=='您的飞信好友手机号'){this.value='';this.select();}" style="width: 122px; height: 15px" maxLength="11" value="您的飞信好友手机号" name=to></td></tr>

<tr><td vAlign="center" align="right" style="font-size: 12px; color: #FFFFFF">短信内容:</td><td align="left" style="font-size: 12px; color: #FFFFFF"><TEXTAREA class="inputcss" id=msg style="width: 122px" name=msg rows=3 wrap=virtual cols=14 type="text"></TEXTAREA></td></tr>

<td align="middle" style="font-size: 12px; color: #FFFFFF">&nbsp;</td>
<td align="left" height="28" style="font-size: 12px; color: #FFFFFF"><INPUT id=bsubmit type=submit value="发送" name=bsubmit></td>
</tr>


					</table>
					</td>
				</tr>
</table>
</FORM>
		</td>
		<td width="389" style="font-size: 12px; color: #FFFFFF">&nbsp;</td>
	</tr>
	<tr>
		<td colSpan="3" style="font-size: 12px; color: #FFFFFF">&nbsp;</td>
	</tr>
</table>

<!--{template footer}-->