<!--{template header}-->

<h2 class="title"><img src="image/app/album.gif">照片墙</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="space.php?do=picwall"><span>照片墙</span></a></li>
		<li><a href="picwall"><span>全屏观看</span></a></li>
		<li><a href="space.php?uid=$space[uid]&do=album&view=me"><span>返回我的相册</span></a></li>
	</ul>
</div>
<IFRAME id=headlogin marginWidth=0 marginHeight=0 src="./picwall/index.html" frameBorder=0 width=100% scrolling=no height=600 onload="this.height=this.contentWindow.document.body.scrollHeight"></IFRAME>

<!--{template footer}-->


