<!--{eval $_TPL['titles'] = array('大学城的天空');}-->

<!--{template header}-->
</div>	<div id="mainarea">	
<div class="c_header a_header">
<h1>朝着大学城的天空大声的说出你的愿望!相信都会实现的!</h1>

<A  href=http://sky.shenei.net  target=_blank class="STYLE3"><strong><FONT color=#ff0000>点击全屏模式 </FONT></strong>
</div>
<iframe width="830px" id="netbar" onload="Javascript:SetCwinHeight()" height="550px" frameborder="0" src="http://sky.shenei.net"></iframe>

<script language=javascript>
// 自动 COPY 代码开始
    function MM_findObj(n, d) { //v4.0
    var p,i,x; if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
    if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
    for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
    if(!x && document.getElementById) x=document.getElementById(n); return x;
    }
    function JM_cc(ob){
    var obj=MM_findObj(ob); if (obj) {
    obj.select();js=obj.createTextRange();js.execCommand("Copy");}
    alert("复制成功！您可以将SKY天空许愿推荐给您的朋友！");
    }
</script>

<script language=javascript>
document.write('<input name="page_url" value="'+window.location.href+'" size="40">');
</script>
<input type="button" name="Button" style=color:red value="邀请朋友一起来大学城的天空许愿" onclick=JM_cc("page_url") />
</center>

</div>

<!--{template footer}-->

