body {background-image:url(http://u.shenei.net/viewspace/picfile/3abf0ec4a76ba573292eed01ed70a927_b.gif); } 
#banner {height:153px; background-image:url(http://u.shenei.net/viewspace/picfile/c8d9295bfae3b7d9afe2966335f12e04_b.gif); } 
#title {top:1px; } 
#footer {height:150px; background-image:url(http://u.shenei.net/viewspace/picfile/4e0a87b6e3319773b0c38c399e5956f8_b.gif); } 
 body {cursor:url(http://u.shenei.net/viewspace/picfile/e4217083f21cb621f1439d15d5ef7bdc_b.ani), url(http://u.shenei.net/viewspace/picfile/e4217083f21cb621f1439d15d5ef7bdc_b.ani), auto; }